{
 ;:remote-repo {:git-url "https://github.com/adabwana/linear-discriminate-analysis"
 ;              :branch "master"}
 :quarto {:format                {:html {:toc             true
                                         :toc-depth       4
                                         :theme           {:light "yeti"
                                                           :dark  "cyborg"}
                                         :number-sections false}}
          ;:highlight-style       :nord
          :code-block-background true
          :base-target-path      "temp"                     ;what it do?
          :include-in-header     {:text "<link rel = \"icon\" href = \"data:,\" />"}}}